doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Andamanb2b.com :- Best Packages of Andaman For You
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='icon', href='/images/logo.jpg')
    link(rel='stylesheet', href='/css/main.css')
    link(href='https://unpkg.com/aos@2.3.1/dist/aos.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lora', rel='stylesheet')
  body
    .container.upper-part
      nav.navbar.navbar-expand-lg
        a.navbar-brand.logo(href='index.html')
          img(src='/images/logo.jpg')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
            img(src='/images/menu.png', alt='Menu Image')
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav.ml-auto
            a.nav-item.nav-link.active(href='index.html')
              i.fas.fa-home
              | Home 
              span.sr-only (current)
            a.nav-item.nav-link(href='aboutandaman.html') About Andaman
            a.nav-item.nav-link(href='contact.html')
              i.fas.fa-phone
              | Contact Us
    #contac2.container(data-aos='zoom-in')
      .row
        .col-12.contact
          center
            h1 Contact Us
        .col-xl-6.col-lg-6.col-md-12
          form.contact-us-form(method='post', action='send')
            input#name(type='text', name='Name', placeholder='Enter your name', required='', autocomplete='off')
            br
            input#email(type='email', name='Email', placeholder='E-mail', required='', autocomplete='off')
            br
            input#text(type='text', name='Phonenumber', placeholder='Enter your phone number', required='', autocomplete='off')
            br
            input#number(type='number', name='nPeople', placeholder='Enter number of people', required='', autocomplete='off')
            br
            input#Date(type='date', name='DOT', placeholder='Enter Date of travelling', required='', autocomplete='off')
            br
            textarea#Remarks(name='remarks', placeholder='Remarks(optional)', autocomplete='off')
            br
            center
              button(type='submit') Submit
        .col-xl-6.col-lg-6.col-md-12.map
          // to add map in this location
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.4613758498876!2d92.73263926429345!3d11.661678845418992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x308895a645f5abfd%3A0x8ba4fb5ec34595cc!2sGoal+Ghar%2C+Thomas+Colony%2C+Junglighat%2C+Port+Blair%2C+Andaman+and+Nicobar+Islands+744101!5e0!3m2!1sen!2sin!4v1547974935726', width='100%', height='100%', frameborder='0', style='border:0')
    footer
      .container
        .row
          .col-xl-4.col-lg-4.col-12.footermargin
            center
              h4 Branch Office :- 
              p Shop No. 21 Gol Ghar , Andaman & Nicobar Island 744101 
          .col-xl-4.col-lg-4.col-12.footermargin
            center
              h4 Connect with us on :-
              a(href='https://www.facebook.com/mytourguru')
                i.fab.fa-facebook-f
              a(href='https://www.instagram.com/mytourguru')
                i.fab.fa-instagram
              a(href='https://www.linkedin.com/company/mytourguru')
                i.fab.fa-linkedin-in
          .col-xl-4.col-lg-4.col-12.footermargin
            center
              h4 Reach us out at :- 
              p
                a(href='tel:+91-7011043493')
                  i.fas.fa-phone
                  |  +91-7011043493
              p
                a(href='mailto:-info@mytourguru.com')
                  i.fas.fa-envelope
                  |  info@mytourguru.com
          .col-12.copyright
            center
              p
                | Made with 
                span.love ♥
                |  | © Andamanb2b.com 2019
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    script(src='Assets/js/jquery-3.3.1.min.js')
    script.
      $(".nav-item").click(function() {
      $('html,body').animate({
      scrollTop : $($(this).attr('href')).offset().top },500,'linear');
      });
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    script.
      AOS.init();
