<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andamanb2b.com :- Best Packages of Andaman For You</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>
<body>
    <div class="container upper-part">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="index.html"><img src="/images/logo.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><img src="/images/menu.png" alt="Menu Image"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="index.html"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="aboutandaman.html">About Andaman</a>
                <a class="nav-item nav-link" href="contact.html"><i class="fas fa-phone"></i>Contact Us</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="container" id="contac2" data-aos="zoom-in">
                <div class="row">
                    <div class="col-12 contact">
                        <center>
                            <h1>Contact Us</h1>
                        </center>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                            <form method="post" action="send" class="contact-us-form">
                                    <input type="text" name="name" id="name" placeholder="Enter your name"required autocomplete="off"><br>
                                   <input type="email" name="E-mail" id="email" placeholder="E-mail"required autocomplete="off"><br>
                                   <input type="text" name="Phone number" id="text" placeholder="Enter your phone number" required autocomplete="off"><br>
                                    <input type="number" name="Number of people" id="number" placeholder="Enter number of people"required autocomplete="off"><br>
                                  <input type="date" name="Date of travel" id="Date" placeholder="Enter Date of travelling" required autocomplete="off"><br>
                                   <textarea name="Remarks" id="Remarks" placeholder="Remarks(optional)" autocomplete="off"></textarea><br>
                                    <center>
                                        <button type="submit">Submit</button>
                                    </center>
                            </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 map">
                        <!-- to add map in this location -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.3100848280237!2d77.0416494145093!3d28.5904729824344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ac4bc74f643%3A0x3dd39312a5a7b7f9!2sMytourguru.com!5e0!3m2!1sen!2sin!4v1547370388584" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                 <div class="row">
                     <div class="col-xl-4 col-lg-4 col-12 footermargin">
                       <center>
                         <h4>Branch Office :- </h4>
                         <p>Shop No. 21 Gol Ghar , Andaman & Nicobar Island 744101 </p>
                       </center>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-12 footermargin">
                        <center>
                         <h4>Connect with us on :-</h4>
                         <a href="https://www.facebook.com/mytourguru"><i class="fab fa-facebook-f"></i></a>
                         <a href="https://www.instagram.com/mytourguru"><i class="fab fa-instagram"></i></a>
                         <a href="https://www.linkedin.com/company/mytourguru"><i class="fab fa-linkedin-in"></i></a>
                        </center>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-12 footermargin">
                     <center>
                         <h4>Reach us out at :- </h4>
                         <p><a href="tel:+91-7011043493"><i class="fas fa-phone"></i> +91-7011043493</a></p>
                         <p><a href="mailto:-info@mytourguru.com"><i class="fas fa-envelope"></i> info@mytourguru.com</a></p>
                     </center>
                     </div>
                     <div class="col-12 copyright">
                         <center>
                             <p>Made with <span class="love">♥</span> | &copy; Andamanb2b.com 2019</p>
                         </center>
                     </div>
                 </div>
                </div>
             </footer> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="Assets/js/jquery-3.3.1.min.js"></script>
    <script>
         $(".nav-item").click(function() {
            $('html,body').animate({
                scrollTop : $($(this).attr('href')).offset().top },500,'linear');
            });
            
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>