doctype html
meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Andamanb2b.com :- Best Packages of Andaman For You
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
link(rel='stylesheet', href='/stylesheets/style.css')
link(href='https://fonts.googleapis.com/css?family=Lora', rel='stylesheet')
.container.upper-part
  .row
    .col-12
      center
        p
          i.far.fa-envelope-open
          a(href='mailto:-info@mytourguru.com') info@mytourguru.com
          a(href='#')
            i.fab.fa-facebook-f
          a(href='#')
            i.fab.fa-instagram
          a(href='#')
            i.fab.fa-linkedin-in
  nav.navbar.navbar-expand-lg
    a.navbar-brand(href='#') Logo of Andamanb2b.com
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
        img(src='/images/menu.png', alt='Menu Image')
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav.ml-auto
        a.nav-item.nav-link.active(href='index.html')
          | Home 
          span.sr-only (current)
        a.nav-item.nav-link(href='#about1') About Us
        a.nav-item.nav-link(href='#') Packages
        a.nav-item.nav-link(href='#contac2') Contact Us
#banner
  .mainImage
    img(src='/images/banner.jpeg', alt='Banner Image')
hr
#about1.container.about-us
  .row
    .col-12
      center
        h1 About Us
    .col-12
      center
        img(src='/images/about-us_image.png', alt='My Tour Guru Image')
        br
        br
        br
    .col-12
      p
        strong My Tour Guru Online Private limited
        |  is the 
        strong Parent Organization
        |  of 
        strong Andamanb2b.com
        |  . 
        strong My Tourguru Online Pvt. Ltd.
        |  is a complete 
        strong travel management company
        |  teamed by 
        strong hardcore professionals 
        | with average experience of 10 years in domestic and international travel, approved by the 
        strong Government of India
        | .We are based out in 
        strong Delhi
        |  with 
        strong branch office in Portblair
        |  .
      p
        | As a customer, we always wonder ourselves: Does perfect tours really exist? Is it truly possible to get someone, who can take 
        strong complete care of us
        |  right from the time we wish to go on a trip to the time we get back home? Be it travelling on a shoestring budget or 
        strong travelling without any worry
        |  about 
        strong transfers, hotel bookings, food
        |  etc? We weren’t so sure?
      br
      br
      br
      br
hr
#packages.container
  .row
    .col-12
      center
        h1 Packages
    .col-xl-3.col-lg-3.col-md-6.col-12
      .card
        img.card-img-top(src='/images/package1.jpg', alt='Package 1 Image')
        .card-body
          h5.card-title
            strong Exquisite Andaman Tour Package  ( 03 NIGHTS / 04 DAYS )
          p.card-text
            | PORTBLAIR 
            strong ( 02 NIGHTS )
            |  - HAVELOCK 
            strong ( 01 NIGHT )
          p.card-text Starting from 
          a.btn.btn-primary(href='#') Go somewhere
    .col-xl-3.col-lg-3.col-md-6.col-12
      .card
        img.card-img-top(src='/images/package2.jpg', alt='Package 2 Image')
        .card-body
          h5.card-title
            strong Exhilarating Andaman Tour Package
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href='#') Go somewhere
    .col-xl-3.col-lg-3.col-md-6.col-12
      .card
        img.card-img-top(src='/images/package3.jpg', alt='Package 3 Image')
        .card-body
          h5.card-title
            strong Splendid Andaman Package
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href='#') Go somewhere
    .col-xl-3.col-lg-3.col-md-6.col-12
      .card
        img.card-img-top(src='/images/package4.jpg', alt='Package 4 Image')
        .card-body
          h5.card-title
            strong Magical Andaman Package
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href='#') Go somewhere
#contac2.container
  .row
    .col-12.contact
      center
        h1 Contact Us
    .col-xl-6.col-lg-6.col-md-12
      form.contact-us-form
        input#name(type='text', name='name', placeholder='Enter your name', required='', autocomplete='off')
        br
        input#email(type='email', name='E-mail', placeholder='E-mail', required='', autocomplete='off')
        br
        input#phoneNumber(type='text', name='Phone number', placeholder='Enter your phone number', required='', autocomplete='off')
        br
        input#numberOfPeople(type='number', name='Number of people', placeholder='Enter number of people', required='', autocomplete='off')
        br
        input#Date(type='date', name='Date of travel', placeholder='Enter Date of travelling', required='', autocomplete='off')
        br
        textarea#Remarks(name='Remarks', placeholder='Remarks(optional)', autocomplete='off')
        br
        center
          button(onclick='send_info()') Submit
    .col-xl-6.col-lg-6.col-md-12.map
      // to add map in this location
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.3100848280237!2d77.0416494145093!3d28.5904729824344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ac4bc74f643%3A0x3dd39312a5a7b7f9!2sMytourguru.com!5e0!3m2!1sen!2sin!4v1547370388584', width='100%', height='100%', frameborder='0', style='border:0')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
script(src='/js/jquery-3.3.1.min.js')
script(src='/javascripts/send.js')
script.
  $(".nav-item").click(function() {
  $('html,body').animate({
  scrollTop : $($(this).attr('href')).offset().top },500,'linear');
  });
